<!-- <div class="container-fluid" id="main">
    <div class="row row-offcanvas row-offcanvas-left">
      <div class="col-md-3 col-lg-2 sidebar-offcanvas bg-light pl-0" id="sidebar" role="navigation">
        <p>Hello {{ userName }}!</p>
        <p>Welcome to Book APP Admin</p>
        <ul class="nav flex-column sticky-top pl-0 pt-5 mt-3">
          <li class="nav-item">
            <button class="primary-button" [routerLink]="'get-all-books'">Get All Books</button>
          </li>
          <li class="nav-item">
            <button class="nav-button" [routerLink]="'add-book'">Add Book</button>
          </li>
          <li class="nav-item">
                      <button class="nav-button" [routerLink]="'logout'">LogOut</button>
                  </li> 
        </ul>
      </div>
  
      <div class="col main pt-5 mt-3">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
   -->
   <div class="container-fluid" id="main">
    <div class="row justify-content-center">
      <!-- Sidebar -->
      <div class="col-md-3 col-lg-2 sidebar-offcanvas bg-light pl-0" id="sidebar" role="navigation">
        <!-- Organization Card -->
        <div class="card mb-3">
          <ul class="nav flex-column pl-0 pt-2 mt-3">
            <li class="nav-item"><a class="nav-link" [routerLink]="'add-flight'"><i class="fas fa-plus"></i> ADD Flight</a></li></ul></div>
           
            <div class="card mb-3">
              <ul class="nav flex-column pl-0 pt-2 mt-3">
            <li class="nav-item"><a class="nav-link" [routerLink]="'get-all-flights'"><i class="fas fa-list"></i> Get All Flights</a></li></ul></div>
            <div class="card mb-3">
                <ul class="nav flex-column pl-0 pt-2 mt-3">
              <li class="nav-item"><a class="nav-link" [routerLink]="'logout'"><i class="fas fa-list"></i> LogOut</a></li></ul></div>

           
        <!-- User Card -->
        
      </div>
   
      <!-- Main Content Area -->
      <div class="col-md-9 col-lg-10 main pt-5 mt-3">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>